body {
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
}

.header, .topnav {
  box-sizing: content-box; /* Override box-sizing for header and topnav */
}

.top {
  z-index: 1000;
  position: fixed; /* Fix the navbar at the top */
  top: 0;
  width: 100%;
}

.clickable-icon {
  width: 20px; /* Responsive image size */
  height: auto;
  vertical-align: middle;
}

.header {
  display: flex;
  justify-content: space-between; /* Spread logo to the left and header-right to the right */
  align-items: center; /* Center items vertically */
  background-color: #f1f1f1;
  padding: 5px 5px;
  margin-left: 5px;
  margin-right: 5px;
  height: 60px;
  flex-wrap: wrap; /* Allows wrapping of flex items */
}

.header a {
  align-items: center;
  color: black;
  text-decoration: none;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Ensure the header links do not interfere with the vertical alignment of .header-right */
.header-right {
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: flex-end; /* Align items to the right */
  gap: 15px; /* Adjust spacing between the image and text */
  height: 100%;
  flex-wrap: wrap; /* Allows wrapping of flex items */
}

.header-right a {
  display: flex; /* Make the <a> tag fit the image precisely */
  align-items: center; /* Center image vertically */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
  width: auto; /* Ensure the <a> tag width matches the image */
  height: auto;
}

.topnav {
  background-color: #3f3f3f;
  display: flex;
  justify-content: flex-start; /* Align items to the start (left) */
  align-items: center;
  flex-wrap: wrap; /* Allows wrapping of flex items */
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 20px 40px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #F77F00;
  color: white;
}

/* Specific class for the right-aligned button */
.topnav .right {
  margin-left: auto; /* Pushes the button to the right */
}

.contact-text, .contact-text-end {
  margin-left: 5px; /* Adjust this value to increase or decrease spacing */
}

/* Media query for smaller screens */
@media (max-width: 980px) {
  .header {
      height: auto; /* Allow height to adjust based on content */
      flex-direction: column; /* Stack header items vertically */
      align-items: center; /* Align items to the left */
  }

  .header a.logo {
      font-size: 10vw;
      font-weight: bold;
  }

  .header-right {
      display: none; /* Hide header-right on smaller screens */
  }

  .topnav {
      display: flex; /* Ensure topnav is displayed */
      background-color: #3f3f3f; /* Same background color */
      width: 100%; /* Set a fixed width for the menu */
      z-index: 999; /* Ensure it appears above other content */
  }

  .topnav a {
      padding: 10px 20px; /* Adjust padding for smaller screens */
      text-align: left; /* Align text to the left */
      font-size: 13px;
  }
}
