* {
    box-sizing: border-box;
}

html { scroll-behavior: smooth; }

.portfolio-page{
    margin-top: 130px;
}

.portfolio-page h1{
    text-align: center;
    font-size: 50px;
    margin-bottom: 0;
    padding-top: 30px;
}

.portfolio-page p{
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

.portfolio-buttons{
    display: flex;
    justify-content: center; 
    gap: 70px; 
    padding: 10px;
}

.clickable-portfolio {
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 30px;
    border-width: 1.5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #f77f00;
    color: white;
    border: none;
    transition: background-color 0.3s ease-in-out;
}

.portfolio-page .scroll {
    margin-top: 200px;
    font-size: 15px;
}

.clickable-portfolio:hover {
    background-color: #de7200;
    color: black;
    cursor: pointer;
}

.portfolio-top {
    position: relative;
    text-align: center;
    width: 100%;
    height: 600px; 
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.portfolio-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.section h1{
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
}

#homeremodel {
    padding-top: 100px; 
    margin-top: -100px; 
}

#personalsign {
    padding-top: 100px;
    margin-top: -100px; 
}
#customfurn {
    padding-top: 100px;
    margin-top: -100px; 
}
#commercialrenov {
    padding-top: 100px; 
    margin-top: -100px; 
}

.single-project{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%; 
}

.project-display {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: calc(8vw); 
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    justify-content: center; 
}

.image-slideshow .slider-link {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    width: 130px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 2000;
    bottom: 100%; 
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.image-slideshow .slider-link:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.single-picture {
    width: 100%;
    max-width: 100%;
    padding-bottom: 75%; 
    position: relative;
}

.single-picture img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block; 
}

.single-picture .project-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    opacity: 0; 
    transition: opacity 0.5s ease;
    z-index: 10; 
    text-align: center;
    white-space: nowrap; 
}

.single-picture:hover img {
    filter: brightness(50%); 
}

.single-picture:hover .project-name {
    opacity: 1; 
}

.scroll {
    margin-top: 200px;
}

.bg-home-remodel {
    background-image: url('pictures/homerenov/backyard/backyard_8.jpg');
    height: 550px;
}

.bg-personal-sign {
    background-image: url('pictures/personalsign/sign_1.JPG');
    height: 550px;
}

.bg-custom-furniture {
    background-image: url('pictures/personalsign/ajusign.JPG');
    height: 550px;
}

.bg-commercial-renovation {
    background-image: url('pictures/commercialrenov/ajuthespa/aju_15.JPG');
    height: 550px;
}

.section_container {
    display: flex;
    gap: calc(8vw); 
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%; 
    justify-content: center;
}

.section_container h1{
    text-align: center;
    padding-bottom: 20px;
}

.section_container .section {
    flex: 1; 
}

.section_container .project-display {
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
text-decoration: none;
}
  
.slide-wrapper {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 20px; 
    margin-top: 150px;
}

.image-slideshow {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 2vw; 
    max-width: 700px;
    position: relative;
    margin: auto;
}
img {
    width: 100%
}
.fade {
    animation-name: fade;
    animation-duration: 2s;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 55%; 
    transform: translateY(-50%); 
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    z-index: 10; 
}

.next {
    right: 0; 
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0; 
    border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.more{
    font-family: 'DM Sans', sans-serif;
    padding: 20px;
    color: black;
    margin-right: 20px;
    font-size: 20px;
    border-radius: 10px;
    border-width: 1px;
    text-decoration: none;
    border-color: black;
}

.more:hover {
    background-color: #cfcfcf;
    color: black;
}

@media (max-width: 980px) {
    .portfolio-page p{
        padding-left: 5%;
        padding-right: 5%;
    }

    .portfolio-page .scroll {
        margin-top: 40px;
        font-size: 15px;
    }

    .clickable-portfolio{
        width: 100%;
        height: 70px;
    }

    .portfolio-buttons{
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-auto-rows: auto; 
        grid-gap: 30px;
        grid-auto-flow: dense;
        padding: 30px;
    }

    .project-display{
        grid-template-columns: 1fr;
        padding-left: 10%;
        padding-right: 10%;
        gap: 10px;
    }

    .single-picture{
        margin-bottom: 10%;
    }

    .portfolio-page h1{
        padding-top: 30px;
    }

    .portfolio-page{
        margin-top: 28%;
    }

    .slide-wrapper{
        flex-direction: column; 
        align-items: center;
    }
    .image-slideshow{
        order: 0;
    }
    .more{
        order:1;
        text-decoration: none;
        font-size: 18px;
        margin-bottom: 30px;
    }

    .section_container {
        flex-direction: column;
        gap: 20px; 
        padding-left: 10%;
        padding-right: 10%;
    }

    .section_container .section {
        width: 100%; 
        margin-bottom: 20px; 
    }
}