.project-name{
    font-size: 50px;
    margin-bottom: 0;
    margin-top: 150px;
    margin-left: 20px;
}

.booknow{
    font-family: 'DM Sans', sans-serif;
    font-size: 30px;
    padding: 20px 300px;
    border-radius: 30px;
    border-width: 0;
    background-color: #F77F00;
    font-weight: bold;
}

.booknow:hover{
    background-color: #de7200;
    color: black;
    cursor: pointer;
}
.booknowbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.photo-gallery {
    display: flex;
    flex-direction: column; /* Stack the large image and thumbnails vertically */
    align-items: center; /* Center align horizontally */
    padding: 20px;
  }
  
  .large-image-container {
    position: relative;
    width: 50%; /* Adjust as needed */
    margin-bottom: 20px; /* Space between large image and thumbnails */
  }
  
  .large-image-container img {
    width: 100%;
    border-radius: 8px;
    object-fit: contain;
    max-height: 80vh;
  }
  
  .thumbnail-container {
    display: flex;
    flex-wrap: wrap; /* Allow thumbnails to wrap to the next line */
    justify-content: center; /* Center align thumbnails horizontally */
    gap: 10px; /* Space between thumbnails */
  }
  
  .thumbnail {
    width: 100px; /* Thumbnail size */
    height: 100px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s;
    border-radius: 4px;
  }
  
  .thumbnail:hover {
    opacity: 1;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: grey;
    font-weight: bold;
    font-size: 24px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  